:root {

  font-family: 'Inter', sans-serif;

  --base-padding: 30px;
  --base-radius: 15px;

  --layer0: rgb(22,22,26);
  --layer0-hover: rgb(38,38,40);
  --layer1: rgb(46,46,48);

  --text0: rgb(255,255,255);
  --text1: rgb(142,142,147);
  --text2: rgb(90,90,94);

  --primary: rgb(50, 209, 53);
  --primary-darkest: #121212;

}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
  font-size: 20px;
  font-variant: none;
  font-feature-settings: 'ss01','ss02','ss03','cv01','tnum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  color: #111;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary);
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'],input[type='range'],input[type='text'] {
  appearance: textfield;
  -moz-appearance: textfield;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
}

button{
  text-align: center;
  cursor: pointer;
  user-select: none;
  appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
  width: 100%;
}

.container {
  padding: 0 var(--base-padding);
  margin: 0 auto;
  max-width: 800px;
}

header {
  padding-top: 100px;
}

header img {
  height: 64px;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  line-height: 1.218;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.045em;
  margin-bottom: 64px;
  margin-top: 16px;
}

.button-wrapper {
  margin-bottom: 32px;
}
.button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 50px;
  font-weight: 650;
  color: var(--primary-darkest);
  background-color: var(--primary);
  white-space: nowrap;
  font-size: 110%;
}

section {
  margin-bottom: 64px;
}
section.dark {
  background-color: #111;
  color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
}

p, li {
  line-height: 1.618;
}

h2 {
  font-size: 32px;
  line-height: 1.618;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 48px;
}

.partners img {
  min-height: 25px;
  max-height: 50px;
  filter: grayscale(100%);
}

footer {
  border-top: 1px solid #ddd;
  padding: 24px 0;
}

.copyright {
  color: #888;
}